// 모든 페이지의 기본 레이아웃
// block content가 페이지마다 달라질 부분
// tab시 4칸 떨어짐 => 위 div의 하위 div가 되는 것
doctype html
html
    head
        title | Wetube
    body
        header
            h1 Wetube
        main
            block content
        footer
            span &copy; Wetube