// 모든 페이지의 기본 레이아웃
// block content가 페이지마다 달라질 부분
// tab시 4칸 떨어짐 => 위 div의 하위 div가 되는 것
doctype html
html
    head
        //head에 fontawesome사용이 가능한 링크를 달면 어디든 사용가능
        <script src="https://kit.fontawesome.com/7459ed3390.js" crossorigin="anonymous"></script>
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/styles.css")
    body
        include ../partials/header

        main
            block content
        include ../partials/footer
        script(src="/static/main.js")